.header__container {
	margin-top: $grid-gutter;
}

/* Compensate for rotation */
html, body {
	overflow-x: hidden;
}

.header__rotate {
	transform: rotate(-5deg);
}

.header__info {
	@media (min-width: $breakpoint-medium) {
		margin-left:  $grid-gutter / -2;
		margin-right: $grid-gutter / -2;
	}
}

.header__nav {
	text-align: right;
}

.header__logotype {
	text-align: right;

	img {
		display: none;
		&.visible {
			display: inline-block;;
		}
	}
}

.header__logotype-placeholder {
	height: 0;
	padding-bottom: 140 / 180 * 100%;
	display: none;

	&.visible {
		display: inline-block;
	}
}