// Typography
$font-family-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Breakpoints
$breakpoint-medium: 700px;
$breakpoint-large: 1296px;
$breakpoint-xlarge: 1600px;

// Grid
$grid-gutter: 32px;