@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@mixin expand-click {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		left: -1rem;
		top: -1rem;
		width: calc(100% + 2rem);
		height: calc(100% + 2rem);
	}
}