body {
	@include font-smoothing;
	font-weight: 400;
	font-family: $font-family-helvetica;
	color: black;
	line-height: 1.68em;

	font-size: 14px;

	@media (min-width: $breakpoint-medium) {
		font-size: 18px;
	}

	@media (min-width: $breakpoint-large) {
		font-size: 24px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	
	img {
		display: inline;
		height: 1em;
		width: auto;
		vertical-align: -4px;
	}
}

.text-center-small {
	text-align: center;
	@media (min-width: $breakpoint-xlarge) {
		text-align: left;
	}
}

.link-underline {
	border-bottom: 1px solid;
}

.link--underline-hover:hover {
	border-bottom: 1px solid;
	margin-bottom: -1px;
}

.link--block {
	display: inline-block;
}

.link--cta {
	position: relative;
	border: 2px solid;
	padding: 0px 4px;
	font-weight: 700;
	line-height: 1.5em;
	display: inline-block;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 60%;
		bottom: -25%;
		left: -2px;
		right: -2px;
		background: #ffff00;
		z-index: -1;
		opacity: 0.6;
		animation: rainbow 6s linear infinite;
	}

	&:hover:before {
		opacity: 1;
	}
}

@keyframes rainbow {
	0% {
		background: #ffff00;
	}

	25% {
		background: #ff0000;
	}

	37% {
		background: #f300ff;
	}

	50% {
		background: #0000ff;
	}

	66% {
		background: #00ffff;
	}

	75% {
		background: #00ff3f;
	}

	100% {
		background: #ffff00;
	}
}

.shop-link {
	position: relative;
	text-align: center;
	display: block;
	width: 100%;
	height: auto;
	
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	
	.shop-link__text {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		font-size: 2rem;
		transform: translateY(-50%);
		text-decoration: underline;
		color: blue;
		animation: blink 1000ms steps(1) infinite;
		
		@media (min-width: $breakpoint-medium) {
			font-size: 4rem;
		}
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}